a, a:hover {
	text-decoration: none !important;
}

.subhead h1 {
    font-size: 54px;
    color: #333;
    font-weight: bold;
}

.jumbotron h1 {
    margin-bottom: 9px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
}

#submitQ {
	padding: 6px 12px;
	font-size: 18px;
	border: 1px solid transparent;
	background-color: #cc0000;
}

.navbar {
    margin-bottom: 20px;
}

.content {
    padding-top: 50px;
}

span.red {
    color: #cc0000;
}

footer {
    font-size: 16px;
}

input[type="text"] {
    width: 300px;
}

#sniper-test {
    margin: 10px;
}

ol li b {
    display: block;
}

.form-control {
	text-align: center;
}

.panel .panel-title {
	color: #fff;
}

.panel-danger {
	border-color: #cc0000 !important;
}

.panel-danger > .panel-heading {
	background-color: #cc0000 !important;
	border-color: #cc0000 !important;
}

.panel-success {
	border-color: green !important;
}

.panel-success > .panel-heading {
	background-color: green !important;
	border-color: green !important;
}

#android-button {
	text-align: center;
	padding-top: 2%;
}

footer{
	 text-align: center;
}

.btn[disabled]{
	opacity: .3 !important;
}
