{% extends 'layout.html' %}
{% block content %}
		<form role="form" method="post" action="/rooms">
			<div class="form group">
        		<p class="lead">Pick a day of the week</p>
				{{form.day(type="select", class_="form-control", required=true)}}
				<br>
        		<p class="lead">Pick a campus</p>
				{{form.campus(type="select", class_="form-control", required=true)}}
				<br>
        		<p class="lead">Pick a building</p>
				{{form.building(type="select", class_="form-control", required=true)}}
				<br>
			</div>
	  		<button id="submitQ" type="submit" class="btn btn-danger">Submit</button>
		</form>
{% endblock %}
