<!-- Worked -->
<!DOCTYPE html>
<html>
    <head>
        <title>RU Empty</title>
        <script type="text/javascript" src="../static/js/jquery.min.js"></script>
        <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../static/js/app.js"></script>
        <link rel="stylesheet" style="text/css" href="../static/css/bootstrap.min.css" />
        <link rel="stylesheet" style="text/css" href="../static/css/empty.css" />
        <link rel="shortcut icon" href="/static/img/favicon.ico" />
    </head>
    <body>
        <div class="content container">
            <header class="jumbotron subhead"> <h1> <span class="red"> RU </span>Empty</h1> </header> 
            <div class="well">
                
    <p> Enter your details below, and I'll notify you when your class opens up. Sniper is currently watching courses for Fall 2015 on the Rutgers New Brunswick campus. </p>
    <form method=post action="/">
        <dl>
            
<div class="form-element">
    <dt><label for="email">Email</label></dt>
    <dd><input id="email" name="email" type="text" value="">
        
    </dd>
</div>

            
<div class="form-element">
    <dt><label for="subject">Subject</label></dt>
    <dd><input autocomplete="off" id="subject" name="subject" placeholder="Department Number. Ex: '640' for Math" type="text" value="">
        
    </dd>
</div>

            
<div class="form-element">
    <dt><label for="course_number">Course Number</label></dt>
    <dd><input id="course_number" name="course_number" type="text" value="">
        
    </dd>
</div>

            
<div class="form-element">
    <dt><label for="section">Section</label></dt>
    <dd><input id="section" name="section" type="text" value="">
        
    </dd>
</div>

        </dl>
        <button class="btn btn-primary" type="submit">Snipe</button>
    </form>

            </div>
			<footer> Questions? Please <a href="/faq"> read the FAQ </a>. Feedback? Please email sniper@<span style="display:none">CantParseMeBro</span>rutgers.io. 
			<br>
			Created by <a href="http://vverma.net"> Vaibhav Verma</a>, inspired by <a href="http://abe.is">Abe Stanway</a>, maintained by <a href="http://github.com/adispen"> Aedan Dispenza</a>, and domain provided by <a href="https://twitter.com/samgdf"> Sam Goldfield</a>. </footer>
        </div>
        <a href="https://github.com/v/sniper"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
    </body>
</html>
