{% extends 'layout.html' %}
{% block content %}

<p>{{ dayOfWeek }} - {{ campusName }} - {{ buildingName }} </p>
<h5> These rooms are open at the times shown </h5>

{% for room in rooms %}
<div class="panel panel-success">
  <div class="panel-heading">
	  <h3 class="panel-title">{{ room.roomNum }}</h3>
  </div>
  <ul class="list-group">
	  {% for slot in room.slot %}
	  <li class="list-group-item">{{ slot.time|linebreaksbr|safe }} </li>
	  {% endfor %}
  </ul>
</div>
{% endfor %}

{% endblock %}
